* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  height: 100vh;
}

h1{
  font-size: 50px;
}

.box{
  width: 90%;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

}

.item{
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  img{
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
  h2{
    margin-top: 5px;
  }
  h3{
    font-size: 18px;
  }
}